<!-- About Section -->
<section class="site-section about-section next-section-indicator" id="about">
  <div class="container">

    <!-- Section Heading -->
    <div class="row text-center">




      <!-- Section Header -->
      <header class="col-md-8 col-md-push-2 col-sm-12 section-header">
        <h2>{{ site.about-title }}</h2>
        <hr class="normal">
      </header>

      
      <!-- Section Content -->
      <div class="col-md-8 col-md-push-2 col-sm-12 section-content">

        <p>      
          On July 15th our friend and singer Ian died surrounded by his family after a long and serious illness.
          We not only lose a great musician and songwriter, but also a wonderful and warm-hearted person who was always an inspiration and driving force for us with his very own unchanging nature.
          We miss you!</p> <br/><p>
        
          Casper, Marcus, Marrick and Stephan
        </p>  
        <image src="../../images/IAN_1.jpg" width="100%"></image>

        <br/><br/><hr/><br/><br/>
        <p>{{ site.about-description }}</p></div>
         
      

      

  </div>
</section>
